
body {
    font-family: Arial,Arial, Helvetica, sans-serif;
    background-color: #8da9ff;
    
}



p {
    font-size: 120%;
    text-align: center;
}

div {
    border-width: 1px;
    border-style: dashed;
    border-color:white;

}




#home {
    margin: auto;

    width: 50%;
    height: 10%;
    margin-top: 23%;
    margin-left: 25%;
    position: absolute;
    
    border-width: 1px;
    border-style: dashed;
}

.home:hover {
  cursor: pointer;
}

.mic:hover{
    cursor: pointer;
}

#mic {
  
    width: 50%;
    height: 10%;
    margin-top: 23%;
    margin-left: 25%;
    border-color: mediumblue;
    position: relative;
   
    border-width: 1px;
    border-style: dashed;
}

#container {
    width: 97vw;
    height:97vh;
    margin: auto;
    
}

#accuracyslider {
    width:100%;
    height: 10%;
       
}

#left {
    width: 10%;
    height:100%;
    float: left;
    position: relative;
    

}

#center {
    width: 80%;
    margin:auto;
    height:100%;
    position: relative;
}

#top {
    height:40%;
    width:100%;
    position: absolute;
    
 
}

#bot {
    width:100%;
    height:60%;
    top:40%;
    position: absolute;
    
}

#image {
    align-self: center;
    margin: auto;
    width:20%;
    
    height:65%;
    position: relative;
    margin-top: 3.6%;
    border-radius: 20px;
    box-shadow:6px 6px 15px #82a0bc;
}

#ASL {
    width: 80%;
    margin: auto;
    height:65%;
    margin-top: 3%;
    position: relative;
    border-radius:10px;
    box-shadow:6px 6px 15px aqua;
    /*align-content: center;*/
}

#nextword:hover{
    cursor: pointer;
}


#mySidenav a {
    position: absolute;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 0 0 5px;
    
  }
  
  #mySidenav a:hover {
    right: 0;
  }
  
  #accuracyslider {
    top: 20px;
    background-color: #3c4293;
    overflow: hidden;  
}



#nextword {
    height:15%;
    width:25%;
    margin: auto;
    margin-top: 2%;
        
    top: 80%;
    border-radius:10px;
    box-shadow:6px 6px 15px maroon;
}

#right {
    width:10%;
    height:100%;
    float: right;
}

