* {
    background-color: #bbd6ff;
    font-family: Optima;
}

.container {

}

#mic-btn {
  width: 100px;
  height: 100px;
  position: absolute;
  transition: .5s ease;
  top: 10%;
  bottom: 90%;
  left: 2%;

}

#text-input-btn {
    width: 100px;
    height: 100px;
    position: absolute;
    transition: .5s ease;
    top: 27%;
    bottom: 85%;
    left: 2%;
}

#word-img {
    
}