body {
    font-family: Arial,Arial, Helvetica, sans-serif;
    background-color: #bbd6ff;
}



p {
    font-size: 120%;
    text-align: center;
}


#home {

    margin: auto;
    width: 50%;
    height: 10%;
    margin-top: 23%;
    margin-left: 25%;
    position: absolute;
    
  
}

.home:hover {
  cursor: pointer;
}








#container {
    width: 97vw;
    height:97vh;
    margin: auto;
    
}


#left {
    width: 10%;
    height:100%;
    float: left;
    position: relative;
    

}

#center {
    width: 80%;
    margin:auto;
    height:100%;
    position: relative;
}

#top {
    height:40%;
    width:100%;
    position: absolute;
    
 
}

#bot {
    width:100%;
    height:60%;
    top:40%;
    position: absolute;
    
}
#signbank {
    height:100%;
    width: 70%;
    position: absolute;
    display: inline-block;
}

#imagediv {
    width:30%;
    height:100%;
    position: relative;
    display: inline-block;
}

#image {
    align-self: center;
    margin: auto;
    width:80%;
    
    height:65%;
    position: relative;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow:6px 6px 15px #82a0bc;
}


#ASL {
    width: 80%;
    margin: auto;
    height:65%;
    background-color: #a7cced;
    margin-top: 3%;
    position: relative;
    border-radius:10px;
    box-shadow:3px 3px 30px #82a0bc;
    /*align-content: center;*/
}

#nextword:hover{
    cursor: pointer;
}



#nextword {
    height:11%;
    width:25%;
    background-color: #a7cced;
    margin: auto;
    margin-top: 2%;
    margin-left: 37%;
    top: 80%;

    border-radius:10px;
    box-shadow:3px 3px 30px #82a0bc;

}


.main-button {
    text-align: center;

    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    padding: 25px;
    font-size: 35px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}



.main-button:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    background-image: linear-gradient(#8da9ff, #8da9ff),radial-gradient(circle at center, #fdf8f8, #fdf8f8);
}


#right {
    width:10%;
    height:100%;
    float: right;
    overflow: hidden;
}


